@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-montserrat;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

/********************** Btn ********************/
.btn-clear {
  @apply bg-clear
}

.btn-danger {
  @apply bg-error
}

.default-msg-btn {
  @apply border border-eco-green rounded-full bg-transparent text-eco-neutral-prime
}

.registerAs-opt {
  @apply flex items-center justify-between w-full lg:w-[26.625rem] h-28 rounded-md px-7 py-6 cursor-pointer
}

.chosen-role {
  @apply bg-eco-green-faint border border-eco-green
}

/*****************************************/
/**** SHADOWS**********/

.board-shadow {
  filter: drop-shadow(6px 0px 20px rgba(0, 0, 0, 0.3));
}

.send-shadow {
  filter: drop-shadow(0 1px 3px rgb(0, 0, 0, 0.1)) drop-shadow(0 12px 7px rgb(0, 0, 0, 0.05))
}


::-ms-reveal {
  display: none
}

h2 {
  @apply text-[2rem];
}

.about-brief {
  @apply w-full tablet:w-6/12;
}

.about-image {
  @apply w-full h-[331px] md:w-[33rem] md:h-[454px] mt-6 md:mt-0;
}

/*********************** Auth Pages ************/

.board {
  @apply hidden min-h-screen md:block md:w-5/12 lg:w-1/2 rounded-e-20 overflow-hidden board-shadow sticky top-0;
}

.custom-bg {
  @apply h-full w-full overflow-hidden bg-eco-green isolate flex-center px-24 sticky top-0
}

.custom-bg-circle {
  @apply w-[498px] h-[524px] rounded-full bg-[#61B236] absolute -top-[96px] left-[299px] -z-10
}

.custom-bg-parallelogram {
  @apply absolute top-[516px] left-0 h-[506px] md:w-[659px] -z-20 w-full
}

.custom-bg-ellipse {
  @apply absolute h-[568px] w-[769px] -top-[76px] -left-[88px] -z-50
}

.auth-page-right {
  @apply w-full sm:w-[1024px] md:w-7/12 lg:w-1/2 flex-center px-4
}

.auth-title {
  @apply text-center text-2xl mt-2 lg:mt-10
}

.auth-desc {
  @apply text-center text-sm lg:text-eiteen mt-3
}

.auth-form {
  @apply w-full md:w-[468px] border-red-500 mt-5 md:mt-14 mx-auto
}

.auth-head {
  @apply w-full mx-auto border max-w-[515px]
}

.otp-opt {
  @apply px-4 py-2 flex items-center border-2 h-[66px] rounded-[6px] cursor-pointer
}

.board-pad {
  @apply my-dell:py-[2.1875rem] px-4 py-2 md:px-20 my-dell:px-[7.5rem];
}

.cancel-btn {
  @apply rounded-full size-11 bg-white flex-center absolute top-9 left-9 z-20;
}

.overlay {
  @apply bg-black/70 size-full absolute top-0 left-0 flex-center;
}

.overlay-img {
  @apply size-full object-cover object-center rounded-xl
}

.briefing {
  @apply text-white font-bold text-xl lg:text-[2rem] leading-[24px] lg:leading-[2rem] font-montserrat;
}

.home-pad {
  @apply px-[17px] my-dell:px-[7.5rem];
}

.primary-btn {
  @apply bg-eco-green hover:bg-red-600;
}

.secondary-btn {
  @apply bg-eco-green/10 border border-eco-green text-eco-green;
}

/******** HOME HERO ******/
.hero {
  @apply relative min-h-[696px];
}

.hero-board {
  @apply bg-black/65 flex-center w-full h-[533px] md:h-[696px];
}

.hero-title {
  @apply text-base-white text-3xl md:text-[4rem] font-bold text-center md:leading-[76.8px] tracking-tighter font-josefin;
}

.hero-description {
  @apply text-base-white text-center font-normal md:font-semibold text-base md:text-2xl;
}

.hero-img {
  @apply h-[533px] md:size-full absolute top-0 left-0 -z-10;
}

.page-brief-container {
  @apply home-pad bg-base-white overflow-hidden
}

.flexible {
  @apply px-9 py-5 rounded-normal text-center mt-8 mb-5 bg-white;
}

.flexible {
  filter: drop-shadow(0 132px 132px rgba(0, 0, 0, 0.09)) drop-shadow(0 297px 178px rgba(0, 0, 0, 0.05));
}

.intro-title {
  @apply relative w-fit font-montserrat;
}

.intro-title::after {
  content: "";
  position: absolute;
  width: 60px;
  left: 102%;
  top: 50%;
  transform: translateY(-50%);
  border: solid 2px #77bb77;
  border-radius: 3px;
}

.intro-title.mission::after {
  border-color: #fafafa;
}

.service-board {
  @apply mt-10 grid grid-cols-2 md:grid-cols-4 gap-3 md:gap-5;
}

.service {
  @apply rounded-[2rem] flex items-start px-[9px] py-[27px] md:px-[10px] md:py-[25px] lg:px-[14px] lg:py-12 bg-white drop-shadow-service;
}

.service {
  filter: drop-shadow(0 79px 32px rgba(0, 0, 0, 0.01)) drop-shadow(0 44px 26px rgba(0, 0, 0, 0.05));
}

.service-title {
  @apply text-xl md:text-[2rem] text-eco-green-dark leading-[24px] lg:leading-[38px] font-bold font-josefin;
}

/********************* conect ***************/
.connect {
  @apply h-[457px] md:min-h-[704px] flex-center bg-black/60 relative home-pad overflow-hidden
}

.connect-bg {
  @apply size-full h-[457px] md:min-h-[704px] absolute top-0 left-0 -z-10
}

.subscribe-form {
  @apply bg-base-white flex items-center justify-between py-2 px-4 rounded-lg max-w-[534px] mt-6 mx-auto
}

.subscribe-input {
  @apply w-[200px] md:w-[264px] ml-2 text-sm md:text-eiteen bg-none border-none outline-none
}

.subscribe-btn {
  @apply w-[135px] h-12 md:h-[56px] md:w-[162px] primary-btn
}

/******************** Testimony ****************/
.testimony-container {
  @apply home-pad pt-8 py-10 md:py-[7.5rem] bg-base-white overflow-hidden
}

.testimonials-display {
  @apply flex flex-col md:flex-row items-center
}

.testi-photo {
  @apply w-full h-[304px] md:w-[409px] md:h-[440px] mt-6 md:mt-0
}

.testimonies {
  @apply w-full tablet:max-w-[639px] laptop:max-w-[739px] mt-6 md:mt-0 md:ml-10 order-first md:order-last
}

.testimony-paragraph {
  @apply text-eco-neutral-prime text-base md:text-2xl text-center md:text-left
}

.testimony-data {
  @apply text-xs md:text-base text-eco-neutral-prime
}

/* **************** mission *************/
.mission-container {
  @apply py-14 lg:py-[7.5rem] bg-eco-green-prime
}

.mission-desc {
  @apply !text-base-white text-base md:text-xl lg:text-2xl mt-4
}

.mission-bottom-text {
  @apply text-center text-xs md:text-xl lg:text-2xl text-base-white
}

/************* contribution *************/
.contribution {
  @apply min-h-[546px] flex flex-col md:flex-row items-center
}

.contribution-phone {
  @apply w-full h-[341px] md:w-1/2 md:h-[546px] border rounded-normal bg-gradient-to-b from-eco-green to-peach
}

.contribution-pg {
  @apply md:w-1/2 py-16 md:pl-16 order-first md:order-last
}

/************ Teem **************/
.team-board {
  @apply grid grid-cols-1 md:grid-cols-3 w-full max-w-[1200px] h-96 mt-10 gap-x-7
}

.team-member {
  @apply py-3 px-4 bg-white drop-shadow-lg rounded-20
}

.team-member {
  filter: drop-shadow()
}

.team-member-details {
  @apply mt-4 flex flex-col gap-2
}

/**************** Alert **********/
.alert-container {
  @apply flex items-center justify-between fixed top-5 md:top-20 right-3 md:right-20 shadow-2xl border border-eco-neutral-border p-5 z-[200] rounded-lg bg-white
}

.alert-stats {
  @apply rounded-full bg-eco-green-dark size-7 flex-center
}

/* DIRECTION */

.direction {
  @apply mt-6 flex items-center justify-center md:justify-start gap-2;
}

.direction-btn {
  @apply bg-transparent flex-center border border-eco-neutral-prime rounded-full size-10 p-0;
}

.header {
  @apply md:absolute z-20 w-full top-[5vh] md:px-5 lg:px-20 xl:px-[7.5rem];
}

/* .mobile-header {
  @apply flex items-center justify-between px-[17px] py-3 md:hidden w-full bg-white/[6%] backdrop-blur-2xl;
} */

.mobile-header {
  @apply flex items-center justify-between px-[15px] py-3 md:hidden absolute z-50 w-full bg-eco-white/[6%] backdrop-blur-3xl
}

.header-container {
  @apply hidden md:flex items-center justify-between md:border-2 md:border-eco-green/40 h-[4.75rem] md:rounded-[40px] px-[17px] md:p-2 md:bg-eco-neutral/20 md:backdrop-blur-lg;
}

/* h-[4.75rem] container height max */

.rider {
  @apply h-[15rem] md:h-[498px] relative rounded-[9px] md:rounded-[20px] overflow-hidden;
}

.rider-overlay {
  @apply w-full h-[92px] md:h-[190px] absolute bottom-0 bg-info backdrop-blur-md pb-2 md:py-5 px-1 md:pl-8 md:pr-2 rounded-b-[20px];
}

.rider-btn {
  @apply bg-eco-green-agile text-eco-green-dark;
}

.r-form-body-margin {
  @apply mt-[30px] my-dell:mt-[3rem] mb-[30px] my-dell:mb-20;
}

.r-form-body {
  @apply r-form-body-margin space-y-[15px] my-dell:space-y-5 flex flex-col;
}

/* DRIVER */

.driver-board {
  @apply home-pad pt-[43px] md:pt-[10rem] pb-16;
}

.driver {
  @apply border border-eco-neutral-prime min-h-[693px] px-[9px] md:px-0 md:pl-10 lg:pl-10 py-0 rounded-[40px] bg-eco-neutral-driver overflow-hidden mt-8 pb-10;
}

.statistics {
  @apply w-full md:w-1/2 my-dell:w-[515px];
}

.stats {
  @apply h-[174px] my-dell:h-[200px] flex items-center gap-x-4 w-full;
}

.doughnut-stats {
  @apply h-full w-8/12 lg:w-[365px] bg-white rounded-20 p-4 flex flex-col justify-between;
}

.doughnut-stats-info {
  @apply ml-7 w-8/12 space-y-4;
}

.dough-info {
  @apply flex items-center justify-between text-xs font-montserrat text-eco-neutral-prime;
}

.dough-info-point {
  @apply size-[10px] border rounded-full inline-block;
}

.trips {
  @apply w-4/12 my-dell:w-[150px] space-y-2 md:space-y-4 h-full;
}

.trip {
  @apply h-[calc(50%-4px)] md:h-[calc(50%-8px)] w-full bg-white rounded-20 px-2 py-3;
}

.performance-board {
  @apply h-[338px] bg-white mt-5 rounded-20 flex-center;
}

.driver-online-btn {
  @apply bg-eco-green text-white
}

.driver-offline-btn {
  @apply bg-white text-black
}

/* MODAL */
.modal-container {
  @apply w-full h-screen fixed top-0 left-0 z-50 flex-center bg-black/50 home-pad overflow-y-scroll;
}

.modal {
  @apply bg-white rounded-xl relative
}

.rate-modal {
  @apply flex-center flex-col w-full max-w-[600px] h-[483px]
}

.choose-modal {
  @apply w-full max-w-[478px] min-h-[348px] py-4 px-3
}

.detail-modal {
  @apply w-[715px] md:min-h-[80vh] py-5 md:py-10 px-3 md:px-7
}

.ride-request-modal {
  @apply w-full max-w-[600px] rounded-[16px] bg-white p-5
}

/* .modalContainer {} */



.location-map {
  @apply w-full max-w-[653px] h-[150px] md:h-[247px] bg-gray-500 flex-center rounded-[27px];
}

/* .location-map .leaflet-container {
  @apply h-full w-full
} */
/* REUSABLE FORM */
.congrats-board {
  @apply w-full lg:w-[25.5rem] h-[16rem] rounded-md mx-auto my-[30px] my-dell:mt-24 flex-center bg-white;
}

.congrats-board {
  filter: drop-shadow(0 11px 25px rgba(0, 0, 0, 0.1)) drop-shadow(0 45px 45px rgba(0, 0, 0, 0.09));
}


/* input classes */
.schedule-input {
  @apply border border-eco-green px-5 rounded-[6px] h-[64px] w-full max-w-96;
}

.profile-management-input {
  @apply border px-5 rounded-[6px] h-[64px] w-full max-w-96;
}

.auth-input {
  @apply border border-eco-neutral-input px-5 rounded-[6px] h-[54px] w-full;
}

.profile-modal-inputs {
  @apply py-5 px-4 border border-eco-neutral-prime h-16 rounded-[14px] w-full
}

/********************** Admin ****************/
.admin-header {
  @apply flex items-center justify-between h-[104px] pl-8 pr-[7.75rem]
}

.admin-icon {
  @apply size-9 flex-center
}

.admin-info {
  @apply min-w-[150px] p-1 border rounded-full flex items-center justify-between
}

.overview {
  @apply pr-[7.75rem] w-full md:w-[calc(100%-300px)]
}

.overview-info {
  @apply flex items-center justify-between mt-8
}

.overview-title {
  @apply text-4xl font-extrabold text-silver
}

.export-action {
  @apply flex-center border rounded-[12px] py-2 px-3 gap-x-2
}

.export-text {
  @apply font-inter text-base text-eco-neutral-thick
}

.admin-sidebar {
  @apply w-[300px] mt-[77px] min-h-screen pb-20 flex flex-col items-center
}

.admin_nav {
  @apply mt-8 flex flex-col gap-2 min-h-[calc(100vh-96px)]
}

.admin_nav_link {
  @apply flex items-center gap-2 w-[233px] py-3 pl-5 rounded-[14px] border
}

.admin-footer {
  @apply flex flex-col gap-4 min-h-[96px]
}

.admin-footer-item {
  @apply flex items-center gap-2 w-full max-w-[233px] py-3 pl-5 rounded-[14px] border
}

/************ reusable form **************/
/************* forget tab *************/
.forget-tab {
  @apply flex items-center justify-between w-full md:w-[446px] mx-auto mb-[30px] my-dell:mb-10
}

.switch-login {
  @apply text-center mt-[30px] my-dell:mt-10 text-eiteen
}

/********************* settings ************/
.setting {
  @apply pb-20 md:pb-[109px] home-pad
}

.setting-header {
  @apply max-w-[1200px] mx-auto pt-14
}

.setting-title {
  @apply text-[40px] font-bold
}

.setting-container {
  @apply flex items-center justify-between w-full max-w-[1200px] mx-auto mt-10
}

.setting-opts {
  @apply text-2xl md:text-[2rem] font-normal flex items-center gap-7 hover:scale-110 transition-all duration-500 hover:text-eco-green cursor-pointer
}

.safe {
  @apply hidden lg:block w-[539px] h-96
}

.profile-modal {
  @apply w-full max-w-[600px] bg-white rounded-[16px] border border-modal/50 min-h-[438px]
}

.profile-opt-box {
  @apply flex flex-col gap-y-6 mt-6
}

.profile-options {
  @apply py-5 px-4 border border-eco-neutral-prime h-16 rounded-[14px] w-full text-base flex items-center justify-between cursor-pointer font-bold
}

.payment-modal {
  @apply w-full max-w-[600px] bg-white pt-12 px-9 pb-8 rounded-20
}

.payment-modal-title {
  @apply font-bold font-josefin text-3xl
}

.card-container {
  @apply rounded-[8px] w-full max-w-[528px] h-[254px] bg-gradient-to-br from-eco-green to-peach mt-10 flex-center
}

.master-card {
  @apply w-full max-w-[316px] rounded-20 h-[190px] p-5 bg-gradient-to-br from-white/50 to-white/0 flex flex-col justify-between border-r-lime-200 border-t-lime-100 border
}

.user-name-expiry {
  @apply flex items-center justify-between text-white font-semibold text-xs
}

.card-number {
  @apply font-semibold text-white text-base text-justify
}

.option-card-form-content {
  @apply flex flex-col gap-y-4
}

.card-content-group {
  @apply grid grid-cols-3 gap-4
}

.dialog-modal {
  @apply border border-modal w-full max-w-[600px] rounded-[16px] bg-white flex-center p-8
}

/************ Reviews *************/
.review {
  @apply p-[15px] space-y-1
}

.review-head {
  @apply flex items-center gap-[10px]
}

.passenger-photo {
  @apply size-[40px] rounded-full
}

.passenger-name {
  @apply text-eiteen text-eco-green font-bold font-montserrat
}

.passenger-email {
  @apply text-base text-eco-neutral-prime font-montserrat
}

.passenger-review {
  @apply text-sm text-eco-neutral-prime font-montserrat
}

.passenger-review-details {
  @apply flex items-center justify-between
}

.review-btn {
  @apply text-xs text-eco-neutral-prime border-b border-eco-neutral-prime text-eco-neutral-prime
}

.review-cat {
  @apply text-xs text-eco-neutral-prime
}

/********************* tracking *************/

.tracking-info-board {
  @apply mt-4 md:mt-[31px] md:flex gap-6 items-start;
}

.tracking-map {
  @apply w-full md:w-1/2 h-[603px] md:h-[881.32px]
}

.track-details {
  @apply w-full md:max-w-[586px] mt-3 md:mt-0 border
}

.tracking-header {
  @apply flex items-center gap-2
}

.person-details {
  @apply flex items-center py-2 px-0 sm:px-2 md:px-4 justify-between bg-eco-green-faint
}

.person-photo-container {
  @apply size-[74px] md:size-[103px] rounded-full
}

.person-photo {
  @apply size-full object-cover object-center rounded-full
}

.person-credentials {
  @apply flex items-center justify-between mt-2 md:mt-0 w-[72%]
}

.person-name {
  @apply text-xl md:text-[28px] font-bold
}

.rider-status {
  @apply text-sm md:text-eiteen text-eco-neutral-prime
}

.ride-cta {
  @apply w-[88px] lg:w-[123px] flex items-center justify-between
}

.ride-cta-icon {
  @apply size-[35px] lg:size-[50px] flex-center cursor-pointer
}

.ride-location {
  @apply h-[70px] max-w-[586px] rounded-[14px] location-shadow flex items-center py-6 px-7
}

.ride-fare {
  @apply bg-eco-green-faint flex-center h-[56px] w-[179px] text-eiteen font-bold rounded-[10px]
}

/**************** shadows *************/
.location-shadow {
  filter: drop-shadow(0 2px 12px rgb(0, 0, 0, 0.25))
}


/******************* transaction ***********/
.transaction-board {
  @apply pt-5 md:pt-10 pb-20 md:pb-40
}

.payment-for-board {
  @apply px-5 md:pl-[7.5rem] md:pr-10 w-full md:w-[55vw] bg-white board-shadow transaction-board
}

.payment-method {
  @apply transaction-board px-5 md:pl-10 w-full md:w-[45vw]
}

.payment-form {
  @apply mt-10
}

.pay-form-rows {
  @apply flex flex-col gap-2 md:gap-y-8
}

.payment-input {
  @apply w-full rounded-[6px] h-14 border border-modal px-5 mt-2
}

.transaction-head {
  @apply flex items-center gap-3
}

.ride-trip {
  @apply md:grid md:grid-cols-12 items-center border
}

.ride-trip-label {
  @apply md:col-span-2
}

.trip-detail {
  @apply my-5 md:my-10 space-y-3 md:space-y-0
}

.ride-location {
  @apply location-shadow bg-white rounded-[14px] h-14 md:h-[70px] px-5 flex items-center ml-2 w-auto md:col-span-10
}

/******************** personal info ***************/
.profile-section {
  @apply home-pad pt-5 md:pt-[122px] pb-20 relative overflow-hidden
}

.profile-glow {
  @apply size-[300px] lg:size-[609px] bg-eco-green/20 absolute -top-10 md:-top-32 -left-20 md:-left-[8rem] rounded-full -z-20
}

.profile-sub-header {
  @apply border-b border-b-eco-neutral-prime flex items-center justify-between
}

.prof-photo {
  @apply size-[162px] rounded-full border mt-5 mb-12 relative
}

.prof-photo-main {
  @apply size-full object-cover object-center rounded-full
}

.prof-form-body {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-9 gap-x-[50px]
}

/************************ EXPERIMENTING EXPERIMENTAL ***************/
.gradient {
  width: 200px;
  height: 200px;
  background: conic-gradient(from 0deg, red, yellow, green, blue, red);
  animation: rotate 5s linear infinite;
  border-radius: 50%;
}

/* Define the animation */
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}